body {
	flex-direction: row;
}

.borda {
	background: #1DA1F2;

}

.caixa {
	position: relative;
    top: 20px;
    left: 150px;
    bottom: 200px;
    right: 100px;
    background: white;
	width: 200px;
	height:  200px;
	border-radius: 50%;
	border: 1px solid #707070;

}

.colaboradores {
	color: black;
	position: relative;
	top: 300px;
	text-align: left;

}